In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
import datetime
import ast
import csv 
from IPython.display import HTML
%matplotlib inline

In [95]:
#a is the page which has multiple job_data lists
# a is 1 page containg 3 jobs
Page_1 = [('job1Pg1 title', 'job1Pg1 salary', {'Job1Pg1_dict_key':'Job1Pg1_dict_value'}),('job2Pg1 title', 'job2Pg1 salary', {'Job2Pg1_dict_key':'Job2Pg1_dict_value'}),('job3Pg1 title', 'job3Pg1 salary', {'Job3Pg1_dict_key':'Job3Pg1_dict_value'})]
Page_2 = [('job1Pg2 title', 'job1Pg2 salary', {'Job1Pg2_dict_key':'Job1Pg2_dict_value'}),('job2Pg2 title', 'job2Pg2 salary', {'Job2Pg2_dict_key':'Job2Pg2_dict_value'}),('job3Pg2 title', 'job3Pg2 salary', {'Job3Pg2_dict_key':'Job3Pg2_dict_value'})]
Page_3 = [('job1Pg3 title', 'job1Pg3 salary', {'Job1Pg3_dict_key':'Job1Pg3_dict_value'}),('job2Pg3 title', 'job2Pg3 salary', {'Job2Pg3_dict_key':'Job2Pg3_dict_value'}),('job3Pg3 title', 'job3Pg3 salary', {'Job3Pg3_dict_key':'Job3Pg3_dict_value'})]

# List_of_Lists_of_tuples representing all results from all pages
ListOf_Everything_prep = [Page_1, Page_2, Page_3]
#ListOf_Everything_prep

In [87]:
def get_list_of_lists(list_of_tuples):
    list_of_lists = []                                                          
    for tuple in list_of_tuples:
        list_of_lists.append(list(tuple))

    return list_of_lists

In [96]:
ListOf_Everything_prep1 = []
for page in ListOf_Everything_prep:
    ListOf_Everything_prep1.append(get_list_of_lists(page))
    
#ListOf_Everything_prep1

In [97]:
ListOf_Everything = []
for item in ListOf_Everything_prep1:
    for item1 in item:
        ListOf_Everything.append(item1)
        #for item2 in item1:
            #ListOf_Everything.append(item2)
#ListOf_Everything

In [90]:
type(ListOf_Everything)

list

In [98]:
df_ListOf_Everything = pd.DataFrame(ListOf_Everything, index = ['Job 1', 'Job 2', 'Job 3', 'Job 4', 'Job 5', 'Job 6', 'Job 7', 'Job 8', 'Job 9'], columns = ['Title', 'Salary', 'Dict of skills'] )
df_ListOf_Everything

,Title,Salary,Dict of skills
Job 1,job1Pg1 title,job1Pg1 salary,{'Job1Pg1_dict_key': 'Job1Pg1_dict_value'}
Job 2,job2Pg1 title,job2Pg1 salary,{'Job2Pg1_dict_key': 'Job2Pg1_dict_value'}
Job 3,job3Pg1 title,job3Pg1 salary,{'Job3Pg1_dict_key': 'Job3Pg1_dict_value'}
Job 4,job1Pg2 title,job1Pg2 salary,{'Job1Pg2_dict_key': 'Job1Pg2_dict_value'}
Job 5,job2Pg2 title,job2Pg2 salary,{'Job2Pg2_dict_key': 'Job2Pg2_dict_value'}
Job 6,job3Pg2 title,job3Pg2 salary,{'Job3Pg2_dict_key': 'Job3Pg2_dict_value'}
Job 7,job1Pg3 title,job1Pg3 salary,{'Job1Pg3_dict_key': 'Job1Pg3_dict_value'}
Job 8,job2Pg3 title,job2Pg3 salary,{'Job2Pg3_dict_key': 'Job2Pg3_dict_value'}
Job 9,job3Pg3 title,job3Pg3 salary,{'Job3Pg3_dict_key': 'Job3Pg3_dict_value'}

In [99]:
df_ListOf_Everything.T

,Job 1,Job 2,Job 3,Job 4,Job 5,Job 6,Job 7,Job 8,Job 9
Title,job1Pg1 title,job2Pg1 title,job3Pg1 title,job1Pg2 title,job2Pg2 title,job3Pg2 title,job1Pg3 title,job2Pg3 title,job3Pg3 title
Salary,job1Pg1 salary,job2Pg1 salary,job3Pg1 salary,job1Pg2 salary,job2Pg2 salary,job3Pg2 salary,job1Pg3 salary,job2Pg3 salary,job3Pg3 salary
Dict of skills,{'Job1Pg1_dict_key': 'Job1Pg1_dict_value'},{'Job2Pg1_dict_key': 'Job2Pg1_dict_value'},{'Job3Pg1_dict_key': 'Job3Pg1_dict_value'},{'Job1Pg2_dict_key': 'Job1Pg2_dict_value'},{'Job2Pg2_dict_key': 'Job2Pg2_dict_value'},{'Job3Pg2_dict_key': 'Job3Pg2_dict_value'},{'Job1Pg3_dict_key': 'Job1Pg3_dict_value'},{'Job2Pg3_dict_key': 'Job2Pg3_dict_value'},{'Job3Pg3_dict_key': 'Job3Pg3_dict_value'}